
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #282c34;
  height: 56px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.App-header h1 {
  margin-left: 10px;
}

.App-link {
  color: #61dafb;
}

.Search {
  width: 96%;
  margin: 6px auto;
}

.Search .input {
  margin-bottom: 10px;
}

.Search .searchButton {
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
